.RData
kunnat_sorted_id_4.csv
municipalities_2002.csv
polygons1909.R
polygons1909.Rds
polygons1909_2009.R
polygons1909_2009_unique.Rds
polygons1927.R
polygons1927.Rds
polygons1940.R
polygons1940.Rds
polygons1960.R
polygons1960.Rds
polygons2005.R
polygons2005.Rds
polygons2007.R
polygons2007.Rds
polygons2009.R
polygons2009.Rds